.login{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url(/background.jpeg);
    background-size: cover;
}

.login .logo{
    width: nax (20vw,280px);
    border-radius: 10px;
}

.login-form{
    background: white;
    padding: 20px 38px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.login-form h2 {
    font-weight: 500;
}

.form-input{
    padding: 8px 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    outline-color: #077eff;
}

.login-form button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #077eff;
    color: white;
    cursor: pointer;
}

.login-term {
    display: flex;
    gap: 5px;
    font-size: 12px;
    color: #808080;
}

.login-forgot {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-toggle{
    font-size: 13px;
    color: #5c5c5c
}

.login-toggle span{
    font-weight: 500;
    color: #077eff;
    cursor: pointer;
}

@media (max-width:768px) {
    .login{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}